{
  "botUsername": "<facebook login email>",
  "botPassword": "<facebook password>",
  "usePrefix": "<boolean literal whether or not to use a prefix for development>",
  "botPrefix": "<command prefix>",
  "forecastIoKey": "<api key for forecast.io>",
  "firebase": {
    "serviceAccount": "<json object containing firebase service account details>",
    "databaseURL": "<firebase database location>"
  }
}
