{
  "botUsername": "<facebook login email>",
  "botPassword": "<facebook password>",
  "usePrefix": "<boolean literal whether or not to use a prefix for development>",
  "botPrefix": "<command prefix>",
  "forecastIoKey": "<api key for forecast.io>",
  "smmryKey": "<api key for smmry.com>",
  "firebase": {
    "serviceAccount": "<json object containing firebase service account details>",
    "databaseURL": "<firebase database location>"
  }
  "wolframAPI" : "<WolframAlphaAPIKey>",
  "tumblr" : {
    "consumerKey": "<tumblr consumer key>",
    "consumerSecret": "<tumblr consumer secret>",
    "callback_base": "http://127.0.0.1:1203"
  }  
}
